.salesHits__price-swiper {
  position: absolute;
  color: #000;
  font-family: Open Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  left: 15px;
  bottom: 0 !important;
}
