.footer__link {
  color: #5d8ea8;
  font-family: Open Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

@media (max-width: 426px) {
  .footer__link {
    font-size: 16px;
  }
}
